* {
    background-color: black;
}
h1 {
    font-family: Veranda;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;

}

#link {
    display: block;
    text-align: center;
    color: aquamarine;
    font-size: 16px;
}

video {
    display: block;
    margin: 0 auto;

}

h3 {
    font-family: Veranda;
    font-size: 21px;
    color: gray;
    text-align: center;
}

.pic {
    text-align: center;
}

#copyright {
    text-align: right;
    color: grey;
}